// FOOTER

@import 'variables.scss';

.footer {
    margin-top: 14vh;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;

    @media only screen and (max-width: $breakpoint3) {
        border-top: 1px solid rgba($color-primary-faded, .2);
    }
    
    &__note {
        font-family: 'Roboto Mono', monospace;
        font-size: 1rem;  
    };

    &__email {
        margin-bottom: 1rem;
        font-size: 1rem;
        letter-spacing: 2px;
    }
}