// WORK SECTION

@import 'variables.scss';

.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;

    @media only screen and (max-width: $breakpoint6) {
        width: 90%;
    }

    &__header {
        align-self: flex-start;
        padding-right: 10rem;
        margin-bottom: 5rem;
    }

    &__sub-header {
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        padding: 1rem 0;
        background-color: $color-primary-faded;
        color: $color-bg;
        text-transform: uppercase;

        @media only screen and (max-width: $breakpoint6) {
            font-size: 1.6rem;
        }
    }

    &__languages {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        padding: 5rem;
        width: 100%;

        @media only screen and (max-width: $breakpoint2) {
            width: 80vw;
        }

        @media only screen and (max-width: $breakpoint3) {
            width: 80vw;
            display: grid;
            grid-template-columns: 33% 33% 33%;
            grid-template-rows: 50% 50%;
            row-gap: 2rem;
            padding: 2.5rem;
            margin-bottom: 2.5rem;
        }

        @media only screen and (max-width: $breakpoint5) {
            width: 80vw;
        }

        @media only screen and (max-width: $breakpoint6) {
            width: 90vw;
            grid-template-columns: 50% 50%;
            grid-template-rows: 33% 33% 33%;
            row-gap: 4rem;
            padding: 1rem;
            margin-top: 3rem;
            margin-bottom: 10rem;
        }

        &__header {
            text-align: center;
        }

        &__icon {

            &-box {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            &__text {
                font-family: 'Roboto Mono', monospace;;
                margin-top: 1.2rem;
                font-size: 1.4rem;  
            }
        }
    }

    &__projects {

        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        width: 100%;
        
        
        &__project {
            display: flex;
            flex-direction: column;
            width: 40rem;
            height: 30rem;      // TEST
            background-position: center;
            background-size: cover;
            border-radius: .5rem;
            position: relative;
            margin: 1rem;
            transition: 2s all;

            &--1 {
                background-image: linear-gradient(to bottom, rgba(4, 7, 33, .7  ), rgba(4, 7, 33, .6)),
                                  url('../src/img/todoproject.png');
                transition: 2s all;

                &:hover {
                    background-image: linear-gradient(to bottom, rgba(4, 7, 33, 0.3), rgba(4, 7, 33, 0)),
                                      url('../src/img/todoproject.png');
                    border: none;
                }
            }

            &--2 {
                background-image: linear-gradient(to bottom, rgba(4, 7, 33, .9  ), rgba(4, 7, 33, .8)),
                                  url('../src/img/connect4project.PNG');

                &:hover {
                    background-image: linear-gradient(to bottom, rgba(4, 7, 33, 0.3), rgba(4, 7, 33, 0)),
                                      url('../src/img/connect4project.PNG');

                }
            }

            &--3 {
                background-image: linear-gradient(to bottom, rgba(4, 7, 33, .9), rgba(4, 7, 33, .8)),
                                  url('../src/img/tictactoe.PNG');

                &:hover {
                    background-image: linear-gradient(to bottom, rgba(4, 7, 33, 0.3), rgba(4, 7, 33, 0)),
                                      url('../src/img/tictactoe.PNG');
                }
            }

            &--4 {
                background-image: linear-gradient(to bottom, rgba(4, 7, 33, .9 ), rgba(4, 7, 33, .8)),
                                  url('../src/img/calculator.PNG');

                &:hover {
                    background-image: linear-gradient(to bottom, rgba(4, 7, 33, 0.3), rgba(4, 7, 33, 0)),
                                      url('../src/img/calculator.PNG');
                }
            }

        }

        &__header {
            padding: 2rem;
            display: inline;
            font-size: 2rem;
            font-weight: 300;
            background-color: rgba(4, 7, 33, .8);
        }

        &__text {
            position: absolute;
            width: 45%;
            right: 4rem;
            top: 35%;
            font-size: 1.4rem;
            padding: 2rem;
            background-color: rgba(4, 7, 33, .8);
        }

        &__github-link {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
        }

        &__github-icon {
            height: 2.5rem;
        }
    }
}