body {
    background-color: $color-bg;
    padding: 0 1rem;

    @media only screen and (max-width: $breakpoint8) {
        padding: 0 .5rem;
    }
}

header {
    padding-top: 3vh;
    margin-bottom: 3vh;
    transition: 1s all ease;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// NAV BAR

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 10vh;
    padding: 0 2rem;

    // Animations
    transition: .3s all;

    &.sticky {
        position: fixed;
        top: 0;
        right: 0;
        padding-top: 3vh;
        z-index: 200;
        width: 100%;
        background-color: rgba($color-bg, .9);
        height: 9vh;
    }

    &.fadeUp {
        position: fixed;
        z-index: 200;
        top: 0;
        right: 0;
        width: 100%;
        transform: translateY(-10vh);
    }

    @media only screen and (max-width: $breakpoint5) {
        padding: 0 1rem;
    }

    &__item {
        list-style: none;
    }

    &__list {
        display: flex;
        align-items: center;

        @media only screen and (max-width: $breakpoint5) {
            justify-content: space-evenly;
            width: 100%;
        }

        @media only screen and (max-width: $breakpoint6) {
            display: none;
        }
    }

    &__link:visited,
    &__link {
        color: $color-font-primary;
        border-bottom: 2px solid $color-bg;
        text-decoration: none;
        font-size: 1.6rem;
        font-family: 'Roboto Mono', monospace;
        padding-bottom: .5rem;
        margin-right: 5rem;
        transition: .2s all;
    }

    &__link:hover,
    &__link:active {
        border-bottom: 2px solid $color-primary;
    }
}

.resume {
    font-size: 1.6rem;
    padding: 1rem 2rem;
    text-decoration: none;
    margin-right: 0;
}

// HERO SECTION

.hero {

    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10vh;

    &__title {
        font-size: 5rem;

        &--name {
            color: $color-primary;
        }

        @media only screen and (max-width: $breakpoint6) {
            font-size: 4rem;
        }

        @media only screen and (max-width: $breakpoint8) {
            font-size: 3.6rem;
        }
    }

    &__sub-title {
        font-size: 5rem;
        margin-bottom: 5rem;

        @media only screen and (max-width: $breakpoint6) {
            font-size: 4rem;
        }

        @media only screen and (max-width: $breakpoint8) {
            font-size: 3.6rem;
        }
    }

    &__dev {
        font-family: 'Dancing Script', cursive;
        font-size: 8rem;
        border-bottom: 4px solid $color-primary;
        padding-right: 25vw;

        @media only screen and (max-width: $breakpoint2) {
            padding-right: 17.5vw;
        }

        @media only screen and (max-width: $breakpoint3) {
            padding-right: 12.5vw;
        }

        @media only screen and (max-width: $breakpoint6) {
            font-size: 6rem;
            padding-right: 7.5vw;
        }

        @media only screen and (max-width: $breakpoint8) {
            font-size: 5.2rem;
            padding-right: 2.5vw;
        }
    }

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__img {
        height: 25rem;
        border-radius: 10%;
        border: 4px solid $color-primary;
        margin-right: 10rem;
        align-self: flex-start;
    }

    &__text {
        font-size: 1.6rem;
        font-weight: 300;
        word-spacing: 2px;
        width: 25vw;
        margin-bottom: 5vh;
        animation: fadeInUp2 1.5s ease;

        @media only screen and (max-width: $breakpoint2) {
            width: 40vw;
        }

        @media only screen and (max-width: $breakpoint3) {
            width: 50vw;
        }
    }

    &__scroll-down {
        width: 3rem;
        align-self: center;
        margin-top: auto;
        animation: fadeInDown 3s ease;    
        transition: 1.5s opacity ease;

        @media only screen and (max-width: $breakpoint5) {
            position: relative;
            bottom: 5vh;
        }
    }
}


// ABOUT ME SECTION

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-top: 5vh;
    padding-top: 10vh;
    
    // Fade in section
    opacity: 0;
    transform: translateY(3rem);
    transition: 1.5s all;

    &.active {
        opacity: 1;
        transform: translateY(0);
    }

    &__header {
        padding-right: 10rem;

        @media only screen and (max-width: $breakpoint5) {
            align-self: flex-end;
            padding-right: 0;
            padding-left: 5rem;
        }
    }


    &__box {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        @media only screen and (max-width: $breakpoint5) {
            flex-direction: column-reverse;
            align-items: flex-start;
            margin-top: 3rem;
        }
    }

    &__text {
        width: 30vw;
        font-size: 1.5rem;
        font-weight: 300;
        word-spacing: 2px;
        color: $color-font-secondary;

        @media only screen and (max-width: $breakpoint4) {
            font-size: 1.4rem;
        }

        @media only screen and (max-width: $breakpoint5) {
            width: 70vw;
        }
    }

    &__photo {
        height: 30rem;
        margin-left: 4rem;
        border-radius: .5rem;
        filter: grayscale(1.0);
        transition: .8s all;

        @media only screen and (max-width: $breakpoint1) {
            height: 25rem;
        }

        @media only screen and (max-width: $breakpoint4) {
            height: 20rem;
        }

        @media only screen and (max-width: $breakpoint5) {
            margin-bottom: 2rem;
        }

        &:hover {
            filter: grayscale(0);
        }

        &::after {
            content: "Hello";
            display: block;
            height: 30rem;
            width: 10rem;
            position: relative;
            top: 40rem;
            background-color: $color-primary;
        }
    }
}

// WORK SECTION

.work {
    margin-top: 5vh;
    padding-top: 10vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    // Fade In
    opacity: 0;
    transform: translateY(3rem);
    transition: 2s all;

    &.active {
        opacity: 1;
        transform: translateY(0);
    }

    &__header {
        align-self: flex-end;
        padding-right: 0;
        padding-left: 10rem;
        margin-bottom: 5rem;

        @media only screen and (max-width: $breakpoint5) {
            align-self: flex-start;
            padding-left: 0;
            padding-right: 5rem;
        }

        @media only screen and (max-width: $breakpoint6) {
            position: relative;
            left: 15vw;
        }
    }

    &__sub-header {
        text-align: center;
        font-size: 2rem;
        font-weight: 300;
        padding: 5rem 0;
    }

    &__languages {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        padding: 5rem;
        width: 100%;

        @media only screen and (max-width: $breakpoint2) {
            width: 80vw;
        }

        @media only screen and (max-width: $breakpoint3) {
            width: 70vw;
            display: grid;
            grid-template-columns: 33% 33% 33%;
            grid-template-rows: 50% 50%;
            row-gap: 2rem;
        }

        @media only screen and (max-width: $breakpoint5) {
            width: 80vw;
        }

        @media only screen and (max-width: $breakpoint6) {
            width: 100vw;
        }

        @media only screen and (max-width: $breakpoint7) {
            grid-template-columns: 50% 50%;
            grid-template-rows: 33% 33% 33%;
            row-gap: 2rem;
        }

        &__header {
            text-align: center;
        }

        &__icon {

            &-box {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            &__text {
                font-family: 'Roboto Mono', monospace;;
                margin-top: 1.2rem;
                font-size: 1.4rem;  
            }
        }
    }

    &__projects {

        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        width: 100%;
        
        &__project {
            display: flex;
            flex-direction: column;
            width: 55rem;
            height: 30rem;      // TEST
            background-position: center;
            background-size: cover;
            border-radius: .5rem;
            position: relative;
            transition: 2s all;

            &--1 {
                background-image: linear-gradient(to bottom, rgba(4, 7, 33, .7  ), rgba(4, 7, 33, .6)),
                                  url('../src/img/todoproject.png');
                transition: 2s all;

                &:hover {
                    background-image: linear-gradient(to bottom, rgba(4, 7, 33, 0), rgba(4, 7, 33, 0)),
                                      url('../src/img/todoproject.png');
                    border: none;
                }
            }

            &--2 {
                background-image: linear-gradient(to bottom, rgba(4, 7, 33, .9  ), rgba(4, 7, 33, .8)),
                                  url('../src/img/connect4project.PNG');

                &:hover {
                    background-image: url('../src/img/connect4project.PNG');
                }
            }

        }

        &__header {
            padding: 2rem;
            display: inline;
            font-size: 2rem;
            font-weight: 300;
            background-color: rgba(4, 7, 33, .8);
        }

        &__text {
            position: absolute;
            width: 45%;
            right: 4rem;
            top: 35%;
            font-size: 1.4rem;
            padding: 2rem;
            background-color: rgba(4, 7, 33, .8);
        }

        &__github-link {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
        }

        &__github-icon {
            height: 2.5rem;
        }
    }
}

// CONTACT SECTION

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 70%;

    margin-top: 5vh;
    padding-top: 10vh;

    @media screen and (max-width: $breakpoint1) {
        width: 80%;
    }

    @media screen and (max-width: $breakpoint2) {
        width: 60%;
    }

    @media screen and (max-width: $breakpoint4) {
        width: 80%;
    }

    // Fade In
    opacity: 0;
    transform: translateY(3rem);
    transition: 2s all;
    
    &.active {
        opacity: 1;
        transform: translateY(0);
    }

    &__header {
        align-self: start;
        padding-right: 10rem;

        @media only screen and (max-width: $breakpoint5) {
            align-self: flex-end;
            padding-left: 5rem;
            padding-right: 0;
        }
    }

    &__form-map-wrapper {
        width: 100%;
        display: flex;
        align-items: center;

        @media screen and (max-width: $breakpoint2) {
            flex-direction: column-reverse;
            align-items: start;
        }
    }

    &__map-box {
        position: relative;
        width: 100%;

        &__text {
            z-index: 90;
            position: absolute;
            top: 2rem;
            right: 1rem;
            padding: 1rem;
            background-color: rgba(4, 7, 33, .7);
            color: $color-font-primary;
            font-size: 1.4rem;
            border-radius: .5rem;

            @media screen and (max-width: $breakpoint2) {
                top: 1rem;
            }
        }
    }

    &__map {
        margin-left: 4rem;
        border-radius: .5rem;
        filter: grayscale(1) sepia(30%) hue-rotate(180deg) saturate(300%);
        transition: .5s all;
        width: 100%;
        align-self: start;
        position: relative;
        top: 1rem;
        
        &:hover {
            filter: none;
        }

        @media screen and (max-width: $breakpoint2) {
            margin-left: 0;
            margin-bottom: 3rem;
            filter: none;
            top: 0;
        }

        @media screen and (max-width: $breakpoint4) {
            height: 40rem;
        }

        @media screen and (max-width: $breakpoint5) {
            height: 45rem;
        }
    }
}

// FOOTER

.footer {
    margin-top: 10vh;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;

    @media only screen and (max-width: $breakpoint4) {
        border-top: 1px solid rgba($color-primary-faded, .2);
    }
    
    &__note {
        color: $color-primary;
        font-family: 'Roboto Mono', monospace;
    };
}